<div>
    <mat-list>
        <mat-list-item >
          <button  mat-button><mat-icon matListIcon>grid_on</mat-icon>Card View</button>
        </mat-list-item>
    </mat-list>
    <mat-list>
        <mat-list-item >
          <button disabled mat-button><mat-icon matListIcon>format_list_bulleted</mat-icon>List View</button>
        </mat-list-item>
    </mat-list>
    <mat-list>
        <mat-list-item >
          <button mat-button><mat-icon matListIcon>person_add</mat-icon>Add Customer</button>
        </mat-list-item>
    </mat-list>
</div>
